.navbar {
  height: 45px;
  background-color: rgba(80, 80, 80, 0.44);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__front {
  margin: 0 8px;
}

.navbar__logo {
  height: 125px;

  object-fit: contain;
}

.navbar__last {
  display: flex;
  align-items: center;
  width: 83px;
  justify-content: space-around;
}
