.showAttachments {
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}

.showAttachments p {
  text-decoration: underline;
}
.showAttachments:hover {
  background-color: #e2e4e9;
}
.modal_container {
  border-radius: 5px;
  overflow: hidden;
  max-width: 800px;
  background-color: #f4f5f7;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.card_options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add_to_cart {
  padding: 10px;
  background-color: #091e420a;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add_to_cart:hover {
  background-color: #e4f0f6;
}

.cover_image {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.card_content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 30px;
}

.modal_close {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.122);
  position: absolute;
  top: 1%;
  right: 2%;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_close:hover {
  background-color: rgba(0, 0, 0, 0.306);
  transform: scale(1.1);
  font-size: 18px;
}

.comment {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
  border: 1px solid rgba(0, 0, 0, 0.136);
  padding: 6px;
  border-radius: 5px;
}

.comment_container {
  position: relative;
}

.comment_action {
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0.823);
}

.comment_action:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.edit_comment_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
