.showAttachments {
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}

.showAttachments p {
  text-decoration: underline;
}
.showAttachments:hover {
  background-color: #e2e4e9;
}
.modal_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card_options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add_to_cart {
  padding: 10px;
  background-color: #091e420a;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add_to_cart:hover {
  background-color: #e4f0f6;
}
