* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.comPlainTextContentEditable {
  outline: none;
}

.sc-cBoqAE {
  background-color: rgb(10 123 189) !important;
  border: none;
}

.sc-ciSkZP {
  border: none;
  background: #ff3838 !important;
}
