* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-height: 100vh;
  overflow: hidden;
}

.comPlainTextContentEditable {
  outline: none;
}

.sc-cBoqAE {
  background-color: rgb(10 123 189) !important;
  border: none;
}

.sc-ciSkZP {
  border: none;
  background: #ff3838 !important;
}

.popupsearchedboards {
  padding: 10px 30px 10px 30px;
  background-color: #fff;
  position: absolute;
  z-index: 99999;
  top: 50px;
  right: 5px;
  border-radius: 5px;
  width: 450px;
  min-height: 70px;
}

.boards_inside_popover {
  padding: 10px;
  background-color: #091e420a;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
}

.boards_inside_popover:hover {
  background-color: #e4f0f6;
}

.kTEdEo {
  max-height: 68vh !important;
  overflow: scroll;
}

.kTEdEo::-webkit-scrollbar {
  width: 5px;
  /* // height: 13px; */
}

.kTEdEo::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #5f5f5f 14%, #535050 64%);
  border-radius: 10px;
}
.kTEdEo::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #aca8a8 14%, #a39d9d 64%);
}
.kTEdEo::-webkit-scrollbar-track {
  background: #d8cdbe;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #e6d9cc;
}

@media only screen and (max-width: 710px) {
  .fpRPem {
    max-height: 73vh !important;
  }
}

@media only screen and (max-width: 414px) {
  .fpRPem {
    max-height: 68vh !important;
  }
}
